<% @emails.each do |email| %>
  <% if email.read == true %>
    <div><i class="far fa-check-square" style="color:gray"></i> <%= link_to email.object, email_path(email), style: "color:gray", remote: true %></div>
  <% else %>
    <div><i class="far fa-square" style="color:black"></i> <%= link_to email.object, email_path(email), style: "color:black; font-weight: bold", remote: true %></div>
  <% end %>	
<% end %>