<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center" style="margin:40px 5px">Mailbox</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-4" style="border: thin solid gray; padding: 20px; min-height: 800px">
      <div class="btn-group btn-block  btn-group-vertical" id="list">
        <%= render 'list' %>
      </div>
    </div>
    <div class="col-8 bg-light" style="padding: 20px; min-height: 800px; text-align: justify">
      <div id="content">
      </div>
    </div>
  </div>
</div>