<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">Mailbox</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="btn-group btn-block  btn-group-vertical" id="mail-list">
        <%= render 'list' %>
      </div>
    </div>
    <div class="col-8">
      <div id="mail-container">
      </div>
    </div>
  </div>
</div>